.row{
    display: flex;
    position: relative;
    border-color: #1a1a1a;
    border-style: dashed; 
}
.cell{
    margin: 10px 100px 5px 15px;
    left: 10%;
}
.cell--grow {
    flex-grow: 1;
}
.title{
    margin: 120px 200px 20px 10px;
    font-size: 20px;
    left: 15%;
    position: relative;
}

.itemprice{
    position: absolute;
    left: 90%;
	margin: 0px 0px 5px;
	font-size: 27px;
	padding: 10px;
	color:red
}

.category{
    margin: 120px 10px 20px 10px;
    font-size: 20px;
    left: 20%;
    position: absolute;
}
.close-icon{
    margin: 140px 10px 10px 10px;
    right: 2px;
    position: absolute;
    top: 50px;
}
table{
    display: flex;
    margin: 30px;
    justify-content: center;

} 
.hover--opacity:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: all .2s;
}
.cart_summary{
    width: 350px;
    float: right;
    margin-top: 10px;
    border-color: #1a1a1a;
    border-style: dashed;   
}